<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hcode.hoj.mapper.UserInfoMapper">
    <insert id="addUser" parameterType="top.hcode.hoj.pojo.dto.RegisterDTO">
        insert into user_info(uuid,username,password,email) values (
           #{uuid}, #{username},#{password},#{email}
        )
    </insert>
    <select id="getSuperAdminUidList" resultType="java.lang.String" useCache="true">
        select ur.uid from user_role ur where ur.role_id = 1000
    </select>

    <select id="getProblemAdminUidList" resultType="java.lang.String" useCache="true">
        select ur.uid from user_role ur where ur.role_id = 1001
    </select>

    <select id="getACMRankList" resultType="top.hcode.hoj.pojo.vo.ACMRankVO" useCache="true">
        SELECT u.uuid as uid,u.nickname,u.username,left(u.signature,100) as signature,u.avatar,u.email,
        u.title_name,u.title_color,
        (SELECT COUNT( DISTINCT pid ) FROM user_acproblem WHERE uid = u.uuid) AS ac,
        (SELECT COUNT(uid) FROM judge WHERE uid=u.uuid AND cid=0) AS total
        FROM user_info u
        <where>
            u.status = 0
            AND NOT EXISTS (
                SELECT 1 FROM user_role ur
                WHERE ur.uid = u.uuid AND ur.role_id IN (1000, 1001)
            )
            <if test="uidList!=null">
                AND u.uuid in
                <foreach collection="uidList" item="uid" open="(" separator="," close=")">
                    #{uid}
                </foreach>
            </if>
        </where>
        ORDER BY ac DESC,total ASC
    </select>

    <select id="getRecent7ACRank" resultType="top.hcode.hoj.pojo.vo.ACMRankVO">
        SELECT u.uuid as uid,u.nickname,u.username,u.avatar,u.email,u.title_name,u.title_color,
        (SELECT COUNT( DISTINCT pid ) FROM user_acproblem WHERE uid =u.uuid
        and DATE(gmt_create) >= DATE_SUB(CURDATE(),INTERVAL 7 DAY)) AS ac
        FROM user_info u
        WHERE u.status = 0
        AND NOT EXISTS (
            SELECT 1 FROM user_role ur
            WHERE ur.uid = u.uuid AND ur.role_id IN (1000, 1001)
        )
        ORDER BY ac DESC,u.gmt_create DESC LIMIT 10
    </select>

    <select id="getOIRankList" resultType="top.hcode.hoj.pojo.vo.OIRankVO" useCache="true">
        SELECT ui.uuid AS uid, ui.nickname, ui.username, left(ui.signature,100) as signature, ui.avatar, ui.email,
            ui.title_name,ui.title_color
            , (
                SELECT COUNT(DISTINCT pid)
                FROM user_acproblem
                WHERE uid = ui.uuid
            ) AS ac
            , (
                SELECT COUNT(uid)
                FROM judge
                WHERE uid = ui.uuid
            ) AS total, ss.score AS score
        FROM user_info ui, (
                SELECT u.uuid AS uid, COALESCE(SUM(s.score),0) AS score
                FROM user_info u left join (
                        SELECT MAX(oi_rank_score) AS score, uid, pid
                        FROM judge
                        WHERE cid=0
                        GROUP BY pid, uid
                    ) s
                ON s.uid = u.uuid
                WHERE u.status = 0
                AND NOT EXISTS (
                    SELECT 1 FROM user_role ur
                    WHERE ur.uid = u.uuid AND ur.role_id IN (1000, 1001)
                )
                GROUP BY u.uuid
            ) ss
        <where>
            ss.uid = ui.uuid
            AND NOT EXISTS (
                SELECT 1 FROM user_role ur
                WHERE ur.uid = ui.uuid AND ur.role_id IN (1000, 1001)
            )
            <if test="uidList!=null">
                AND ui.uuid in
                <foreach collection="uidList" item="uid" open="(" separator="," close=")">
                    #{uid}
                </foreach>
            </if>
        </where>
        ORDER BY score DESC, ac DESC
    </select>

    <resultMap id="map_UserHomeVo" type="top.hcode.hoj.pojo.vo.UserHomeVO">
        <id column="uid" property="uid"></id>
        <result column="username" property="username"></result>
        <result column="school" property="school"></result>
        <result column="signature" property="signature"></result>
        <result column="nickname" property="nickname"></result>
        <result column="github" property="github"></result>
        <result column="blog" property="blog"></result>
        <result column="avatar" property="avatar"></result>
        <result column="email" property="email"></result>
        <result column="title_name" property="titleName"></result>
        <result column="title_color" property="titleColor"></result>
        <result column="rating" property="rating"></result>
        <result column="total" property="total"></result>
        <collection property="scoreList" ofType="java.lang.Integer" select="getProblemScore" column="uid">
        </collection>
    </resultMap>

    <select id="getUserHomeInfo" resultMap="map_UserHomeVo">
        SELECT u.uuid as uid,u.username,u.nickname,u.gender,u.signature,u.school,u.github,u.blog,
        u.avatar,u.email,u.title_name,u.title_color,u.rating,
        (SELECT COUNT(uid) FROM judge WHERE uid=u.uuid AND cid=0) AS total
        FROM user_info u
        <where>
         u.status = 0
         <if test="uid!=null">
             AND u.uuid = #{uid}
         </if>
         <if test="username!=null">
             AND u.username = #{username}
         </if>
        </where>
    </select>

    <!-- 子查询-->
    <select id="getProblemScore" resultType="java.lang.Integer">
        SELECT MAX(oi_rank_score) AS sum_score FROM judge
        WHERE uid=#{uid} AND cid=0 AND score IS NOT NULL GROUP BY pid
    </select>
</mapper>
